[Desktop Entry]
Name=Power Monitor for the COSMIC™ Desktop
Comment=Display real-time battery power draw in watts for the COSMIC™ desktop
Type=Application
Exec=cosmic-power-monitor
Terminal=false
Categories=COSMIC;
Keywords=COSMIC;Power;Battery;Watts;
Icon=io.github.AceMythos.cosmic-ext-applet-power-monitor
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicShrinkable=true
X-CosmicHoverPopup=End
X-OverflowPriority=10
